:root {
  --sidebar-width: 260px;
}

@media only screen and (min-width: theme("screens.sm")) {
  :root {
    --sidebar-width: 80px;
  }
}

@media only screen and (min-width: theme("screens.xl")) {
  :root {
    --sidebar-width: 260px;
  }
}
